@model MovieRex.Models.Movie
<div class="embed-responsive">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/@(Html.DisplayFor(model => model.MovieID))"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
            clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>